h1 {
    font-size:20px;
    color:black;
    font-weight:bold;
    background-color: black;
}

    mark.white {
    color:white
    
    
}
    mark.orange {
        color:orange;
    }
    
h2 {
    color: orange;
    background-color: pink;

}